
@{
    ViewBag.Title = "About";
}

<h2>ACERCA DE</h2><br /><br />
<h1>Integrantes</h1><br /><br />
                          <table>
                              <tr>
                                  <td>
                                      <img src="~/imagenes/WhatsApp Image 2019-11-20 at 7.55.40 PM.jpeg" width="350" height="400" />
                                  </td>
                                  <td>

                                      <img src="~/imagenes/WhatsApp Image 2019-11-20 at 8.12.27 PM (1).jpeg" width="350" height="400" />
                                  </td>
                              </tr>
                              <tr>
                                  <td>Randolph Marte </td>
                                  <td>Abel Encarnacion</td>
                              </tr>
                              <tr>
                                  <td>20175086</td>
                                  <td>20175530</td>
                              </tr>
                              <tr>
                                  <td>Realice:</td>
                                  <td>Realice:</td>
                              </tr>
                              <tr>
                                  <td>Vincular la aplicación con Facebook</td>
                                  <td>Consulta de asignaturas en curso</td>
                              </tr>
                              <tr>
                                  <td>Agenda electrónica</td>
                                  <td>Lector de Archivos</td>
                              </tr>
                              <tr>
                                  <td>Menu</td>
                                  <td>traducion de ingles a español</td>
                              </tr>
                              
                          </table>

