
@{
    ViewBag.Title = "Agenda";
}
<h2>Agenda electrónica</h2><br /><br />

<a href="~/contacto/index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contactos</a>
<a href="~/evento/index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Eventos</a>

