
@{
    ViewBag.Title = "Index";
}

<h2>Menu Principal</h2><br /><br />

<div style="align-content:center;">

<a href="~/integrantesG/index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Consulta de asignaturas en curso</a>
<a href="~/home/agenda" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Agenda electrónica</a>
<a href="~/Excel/upload" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Lector de Archivos Excel</a>
</div>

